BODY,P,FONT {
  font-size: 12pt;
  background-color: #485068;
  color: #ffffff;
  font-family: verdana, arial, avant-garde, sans-serif;
}

.navcontainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.side {
	width: 100%;
	border: 1px solid black;
}

.side li {
	display: inline;
}

#navlist {
	padding: 0 1px 1px;
	margin-left: 0;
	font: bold 12px Verdana, sans-serif;
	background: gray;
	width: 20em;
}

#navlist li {
	list-style: none;
	margin: 0;
	border-top: 1px solid gray;
	text-align: left;
	#display: inline;
	#float: left;
}

#navlist li a {
	display: block;
	padding: 0.25em 0.5em 0.25em 0.75em;
	border-left: 1em solid #AAB;
	background: #CCD;
	text-decoration: none;
}

#navlist li a:link { color: #448; }
#navlist li a:visited { color: #667; }

#navlist li a:hover {
	border-color: #FE3;
	color: #FFF;
	background: #332;
}

